﻿@model List<VotingApp.Core.ViewModels.VotingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Voting Index</h1>

<table>
    <tr>
        <td>Title</td>
        <td>StartDate</td>
        <td>EndDate</td>
    </tr>
    @if (Model.Count != 0)
    {
        @foreach (var voting in Model)
        {
            <tr>
                <td>@voting.Title</td>
                <td>@voting.StartDate</td>
                <td>@voting.EndDate</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">
                No data!
            </td>
        </tr>
    }
</table>